/* Stylesheet by Kristina V. Randrup, 2021 */
/***** NAVBAR *****/
.navbar-default {
  background-color: #863ee3;
  border-radius: 0;
  background-image: none;
}

/* Navbar title */
.navbar-default .navbar-brand {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

/* Navbar hover effects */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ebd122;
}

/* Navbar links */
.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-size: 16px;
}

body {
  padding-top: 15px;
  font-family: 'Times', serif;
  background-color: #d9fdd9;
  color: #242424;	
}

#mapid {
    height: 650px;
    width: 80%;
    display: inline-block;
}

#panel {
    width: 16%;
    height: 50%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    background-color: #bdfcbd;
    line-height: 42px;
    height: 650px;
}

.range-slider {
    width: 50%;
}

#forward {
    float: right;
}

#reverse {
    float: left;

}

div.leaflet-popup-content p {
    margin: 0.2em 0;
}

.sequence-control-container {
    width: 350px;
    height: 30px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 45px;
    text-align: center;
    border: solid gray 1px;
}

.legend-control-container {
    width: 150px;
    height: 100px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 45px;
    text-align: center;
    border: solid gray 1px;
}
